# Editor/IDE
.vscode/
.idea/
*.swp
*.swo

# Build artifacts (GCC specific)
config.h.in
config.log
config.status
Makefile
!*/Makefile.am
!*/Makefile.in
!libstdc++-v3/testsuite/*/Makefile
!zlib/contrib/*/Makefile
!zlib/msdos/Makefile.*
!zlib/win32/Makefile.*
!zlib/os400/make.sh
!zlib/nintendods/Makefile
!zlib/old/Makefile.*
!zlib/amiga/Makefile.*
!zlib/contrib/blast/Makefile
!zlib/contrib/puff/Makefile
!zlib/contrib/untgz/Makefile*
!zlib/contrib/minizip/Makefile*
!zlib/contrib/dotzlib/DotZLib.build
!zlib/contrib/delphi/zlibd32.mak
!zlib/contrib/pascal/zlibd32.mak
!zlib/contrib/masmx64/bld_ml64.bat
!zlib/contrib/masmx86/bld_ml32.bat
!zlib/contrib/vstudio/vc*/zlibvc.sln
!zlib/contrib/vstudio/vc*/zlib.rc
!zlib/contrib/vstudio/vc*/zlib.def
!zlib/contrib/vstudio/vc*/miniunz.vcxproj
!zlib/contrib/vstudio/vc*/minizip.vcxproj
!zlib/contrib/vstudio/vc*/testzlib.vcxproj
!zlib/contrib/vstudio/vc*/testzlibdll.vcxproj
!zlib/contrib/vstudio/vc*/zlibstat.vcxproj
!zlib/contrib/vstudio/vc*/zlibvc.vcxproj
!zlib/contrib/vstudio/vc9/miniunz.vcproj
!zlib/contrib/vstudio/vc9/minizip.vcproj
!zlib/contrib/vstudio/vc9/testzlib.vcproj
!zlib/contrib/vstudio/vc9/testzlibdll.vcproj
!zlib/contrib/vstudio/vc9/zlibstat.vcproj
!zlib/contrib/vstudio/vc9/zlibvc.vcproj
!gcc/config.guess
!gcc/config.sub
!gcc/install-sh
!gcc/missing
!gcc/mkinstalldirs
!gcc/move-if-change
!gcc/libtool
!gcc/libtool.m4
!gcc/ltoptions.m4
!gcc/ltsugar.m4
!gcc/ltversion.m4
!gcc/lt~obsolete.m4
!gcc/ylwrap
!gcc/aclocal.m4
!gcc/configure
!gcc/configure.ac
!gcc/Makefile.in
!gcc/depcomp
!gcc/test-driver
!gcc/compile
!gcc/ltmain.sh
!gcc/symlink-tree
!gcc/mkdep
!gcc/missing
!gcc/multilib.am
!gcc/libvtv/configure
!gcc/libvtv/configure.ac
!gcc/libvtv/aclocal.m4
!gcc/libvtv/Makefile.in
!gcc/libvtv/Makefile.am
!gcc/libvtv/scripts/run-testsuite.sh
!gcc/libvtv/scripts/sum-vtv-counts.c
!gcc/libvtv/testsuite/Makefile.in
!gcc/libvtv/testsuite/Makefile.am
!gcc/libvtv/testsuite/config/default.exp
!gcc/libvtv/testsuite/lib/libvtv-dg.exp
!gcc/libvtv/testsuite/lib/libvtv.exp
!gcc/libvtv/testsuite/libvtv.cc/*.cc
!gcc/libvtv/testsuite/libvtv.cc/*.cpp
!gcc/libvtv/testsuite/libvtv.cc/*.h
!gcc/libvtv/testsuite/libvtv.cc/*.list
!gcc/libvtv/testsuite/libvtv.cc/*.exp
!gcc/libvtv/testsuite/libvtv.mempool.cc/*.exp
!gcc/libvtv/testsuite/libvtv.mempool.cc/*.cc
!gcc/libvtv/testsuite/libvtv.mt.cc/*.exp
!gcc/libvtv/testsuite/libvtv.mt.cc/*.cc
!gcc/libvtv/testsuite/other-tests/Makefile.in
!gcc/libvtv/testsuite/other-tests/Makefile.am
!gcc/libvtv/testsuite/other-tests/README
!gcc/libvtv/testsuite/other-tests/*.cc
!gcc/libvtv/testsuite/other-tests/*.cpp
!gcc/libvtv/testsuite/other-tests/*.h
!gcc/libvtv/testsuite/other-tests/*.s
!gcc/libvtv/vtv_fail.cc
!gcc/libvtv/vtv_fail.h
!gcc/libvtv/vtv_malloc.cc
!gcc/libvtv/vtv_malloc.h
!gcc/libvtv/vtv_map.h
!gcc/libvtv/vtv_rts.cc
!gcc/libvtv/vtv_rts.h
!gcc/libvtv/vtv_set.h
!gcc/libvtv/vtv_utils.cc
!gcc/libvtv/vtv_utils.h
!gcc/lto-plugin/ChangeLog
!gcc/lto-plugin/Makefile.am
!gcc/lto-plugin/Makefile.in
!gcc/lto-plugin/aclocal.m4
!gcc/lto-plugin/config.h.in
!gcc/lto-plugin/configure
!gcc/lto-plugin/configure.ac
!gcc/lto-plugin/lto-plugin.c
!gcc/lto-plugin/lto-plugin.map
!gcc/maintainer-scripts/*
!gcc/zlib/CMakeLists.txt
!gcc/zlib/ChangeLog*
!gcc/zlib/FAQ
!gcc/zlib/INDEX
!gcc/zlib/Makefile.am
!gcc/zlib/Makefile.in
!gcc/zlib/README
!gcc/zlib/acinclude.m4
!gcc/zlib/aclocal.m4
!gcc/zlib/*.c
!gcc/zlib/*.h
!gcc/zlib/*.S
!gcc/zlib/*.txt
!gcc/zlib/*.xml
!gcc/zlib/*.html
!gcc/zlib/*.def
!gcc/zlib/*.rc
!gcc/zlib/*.mak
!gcc/zlib/*.bat
!gcc/zlib/*.pas
!gcc/zlib/*.adb
!gcc/zlib/*.ads
!gcc/zlib/*.gpr
!gcc/zlib/*.pk
!gcc/zlib/*.raw
!gcc/zlib/*.chm
!gcc/zlib/*.sln
!gcc/zlib/*.cs
!gcc/zlib/*.csproj
!gcc/zlib/*.filters
!gcc/zlib/*.vcproj
!gcc/zlib/*.vcxproj
!gcc/zlib/*.qpg
!gcc/zlib/*.bndsrc
!gcc/zlib/*.inc
!gcc/zlib/*.sh
!gcc/zlib/*.com
!gcc/zlib/*.1
!gcc/zlib/*.info
!gcc/zlib/*.in
!gcc/zlib/*.cmakein
!gcc/zlib/zlib.pc.in
!gcc/zlib/zconf.h.in
!gcc/zlib/zlib.3
!gcc/zlib/zlib.map
!gcc/zlib/zlib2ansi
!gcc/zlib/zutil.c
!gcc/zlib/zutil.h
!gcc/zlib/trees.c
!gcc/zlib/trees.h
!gcc/zlib/uncompr.c
!gcc/zlib/watcom/watcom_f.mak
!gcc/zlib/watcom/watcom_l.mak
!gcc/zlib/win32/DLL_FAQ.txt
!gcc/zlib/win32/Makefile.bor
!gcc/zlib/win32/Makefile.gcc
!gcc/zlib/win32/Makefile.msc
!gcc/zlib/win32/README-WIN32.txt
!gcc/zlib/win32/VisualC.txt
!gcc/zlib/win32/zlib.def
!gcc/zlib/win32/zlib1.rc
!gcc/zlib/zconf.h
!gcc/zlib/zconf.h.cmakein
!gcc/zlib/zconf.h.in
!gcc/zlib/zlib.h
!gcc/zlib/zlib.map
!gcc/zlib/zlib.pc.cmakein
!gcc/zlib/zlib.pc.in
!gcc/zlib/zlib2ansi
!gcc/zlib/zutil.c
!gcc/zlib/zutil.h